.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
R/beta.R
R/prob_final.R
R/probability.R
Tri VI/C1/beta.c
Tri VI/C1/beta.exe
Tri VI/C1/c_pro_1.c
Tri VI/C1/c_pro_1.exe
Tri VI/C1/c_pro_2.c
Tri VI/C1/c_pro_2.exe
Tri VI/C1/tempCodeRunnerFile.c
Tri VI/C1/tempCodeRunnerFile.exe
Tri VI/C1/assign 2 sorting/insertion_sort.c
Tri VI/C1/assign 2 sorting/insertion_sort.exe
Tri VI/C1/assign 2 sorting/quick_sort.c
Tri VI/C1/assign 2 sorting/quick_sort.exe
Tri VI/C1/assign 2 sorting/selection_sort.c
Tri VI/C1/assign 2 sorting/selection_sort.exe
Tri VI/C1/assign 4/cpro_1.c
Tri VI/C1/assign 4/cpro_1.exe
Tri VI/C1/assign 4/cpro_2.c
Tri VI/C1/assign 4/cpro_2.exe
Tri VI/C1/assign 4/cpro_3.c
Tri VI/C1/assign 4/cpro_3.exe
Tri VI/C1/assign 4/cpro_4.c
Tri VI/C1/assign 4/cpro_4.exe
Tri VI/C1/binary tree/binary_tree.c
Tri VI/C1/binary tree/binary_tree.exe
Tri VI/C1/graph/dfs.c
Tri VI/C1/graph/dfs.exe
Tri VI/C1/scratch/beta.c
Tri VI/C1/scratch/beta.exe
Tri VI/C1/scratch/bubble_sort.c
Tri VI/C1/scratch/bubble_sort.exe
Tri VI/C1/scratch/sort.c
Tri VI/C1/scratch/sort.exe
Tri VI/C2/beta.cpp
Tri VI/C2/beta.exe
Tri VI/C2/characters.txt
Tri VI/C2/cpp_1.cpp
Tri VI/C2/cpp_1.exe
Tri VI/C2/cpp_2.cpp
Tri VI/C2/cpp_2.exe
Tri VI/C2/cpp_3.cpp
Tri VI/C2/cpp_3.exe
Tri VI/C2/cpp_pro_2.cpp
Tri VI/C2/cpp_pro_2.exe
Tri VI/C2/digits.txt
Tri VI/C2/pqr.txt
Tri VI/C2/assign_10/cppro_1.cpp
Tri VI/C2/assign_10/cppro_1.exe
Tri VI/C2/assign_10/cppro_2.cpp
Tri VI/C2/assign_10/cppro_2.exe
Tri VI/C2/assign_10/cppro_3.cpp
Tri VI/C2/assign_10/cppro_3.exe
Tri VI/C2/assign_10/cppro_4.cpp
Tri VI/C2/assign_10/cppro_4.exe
Tri VI/C2/assign_10/cppro_5.cpp
Tri VI/C2/assign_10/cppro_5.exe
Tri VI/C2/assign_8/cppro_1.cpp
Tri VI/C2/assign_8/cppro_1.exe
Tri VI/maths/maths_pro_1.c
Tri VI/maths/maths_pro_1.exe
Tri VI/maths/maths.c
Tri VI/maths/maths.exe
Tri VI/maths/mathspro_1.c
Tri VI/maths/mathspro_1.exe
Tri VI/maths/mathspro.c
Tri VI/maths/mathspro.exe
competitive/beta.c
Tri VII/beta/first.html
Tri VII/beta/second.css
Tri VII/beta/second.html
